@media (min-width: 1000px) {
  .Header{
    background-color: rgb(92, 92, 92);
    min-height: 40px;
    margin: 3px;
  }
  
  .Body{
    background-color: rgb(92, 92, 92);
    flex: 1 1 100%;
    margin: 3px;  
    overflow: scroll;
    overflow: hidden;
  }

  .filter_dropdown{
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .sessions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .s_header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .session_ele{
    /* box-shadow: 0px 0px 30px 1px rgb(58, 190, 255); */
    width: 25%;
  }

  .s_e_header{
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-left: 5px;

    font-size: 18px;
    font-weight: bold;
  }

  .s_e_e_header{
    background-color: rgb(61, 61, 61);
    font-weight: normal;
    padding-left: 5px;
    font-size: 16px;
  }

  .s_e_set{
    background-color: rgb(92, 92, 92);
    border-bottom: 2px solid rgb(58, 190, 255);
    font-size: 13px;


    display: flex;
    flex-direction: column;
  }

  .s_e_s_weights{
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .s_e_s_w_num{
    /* border: solid black 3px; */
    background-color: rgb(58, 190, 255);
    color: black;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    padding-left: auto;

    max-width: max-content;
  }

  .middle_column{
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  .progression_grid {
    background-color: rgb(61, 61, 61);


    display: flex;
    flex-direction: column;
    overflow-x: auto;  /* for horizontal scrolling of columns */
    overflow-y: auto;  /* for vertical scrolling of rows */
    height: auto; 
    width: 100%;
  }
  .p_g_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: max-content;
  }

  .p_g_cell{
    border: 1px solid rgb(187, 221, 255);
    text-align: center;
    width: 120px;
  } 

  .p_g_small{
    border: 1px solid rgb(187, 221, 255);
    text-align: center;
    width: 50px;
  } 
}

/* mobile */
@media (max-width: 1000px) {
  .Header{
    background-color: rgb(92, 92, 92);
    min-height: 40px;
    margin: 3px;
  }

  .Body{
    background-color: rgb(92, 92, 92);
    flex: 1 1 100%;
    margin: 3px;  
    overflow: scroll;
    overflow: hidden;
  }

  .filter_dropdown{
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .sessions{
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
  }

  .s_header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .session_ele{
    background-color: rgb(61, 61, 61);
    /* box-shadow: 0px 0px 30px 1px rgb(58, 190, 255); */
    min-width: 300px;
  }

  .s_e_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: bold;
    font-size: 20px;
  }

  .s_e_e_header{
    background-color: rgb(61, 61, 61);
    font-weight: normal;
    font-size: 18px;
  }

  .s_e_set{
    background-color: rgb(92, 92, 92);
    border-bottom: 5px solid rgb(58, 190, 255);
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
  }

  .s_e_s_weights{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .s_e_s_w_num{
    /* border: solid black 3px; */
    background-color: rgb(58, 190, 255);
    color: black;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    padding-left: auto;

    max-width: max-content;
  }

  .middle_column{
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  .progression_grid {
    background-color: rgb(61, 61, 61);


    display: flex;
    flex-direction: column;
    overflow-x: auto;  /* for horizontal scrolling of columns */
    overflow-y: auto;  /* for vertical scrolling of rows */
    height: auto; 
    width: 100%;
  }
  .p_g_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: max-content;
  }

  .p_g_cell{
    border: 1px solid rgb(187, 221, 255);
    text-align: center;
    width: 120px;
  } 

  .p_g_small{
    border: 1px solid rgb(187, 221, 255);
    text-align: center;
    width: 50px;
  } 
}
