.sessions{
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
}

.s_header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.session_ele{
  background-color: rgb(61, 61, 61);
  border-top: 5px solid rgb(187, 221, 255);
  /* box-shadow: 0px 0px 30px 1px rgb(58, 190, 255); */
  /* margin-top: 4px; */
  min-width: 300px;
}

.s_e_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: bold;
  font-size: 20px;
}

.s_e_set{
  background-color: rgb(92, 92, 92);
  margin-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
}

.s_e_s_weights{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.s_e_s_w_num{
  /* border: solid black 3px; */
  background-color: rgb(58, 190, 255);
  color: rgb(51, 51, 51);
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 2px;
  margin-left: 2px;
  display: flex;
  justify-content: center;
  padding-left: auto;

  max-width: max-content;
}

.middle_column{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.progression_grid {
  background-color: rgb(61, 61, 61);


  display: flex;
  flex-direction: column;
  overflow-x: auto;  /* for horizontal scrolling of columns */
  overflow-y: auto;  /* for vertical scrolling of rows */
  height: auto; 
  width: 100%;
}
.p_g_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: max-content;
}
/* .p_g_EX_col{
  display: flex;
  flex-direction: column;
  min-width: max-content;
  padding-right: 2px;
}

.p_g_col{
  display: flex;
  flex-direction: column;
}


*/
.p_g_cell{
  border: 1px solid rgb(187, 221, 255);
  text-align: center;
  min-width: 150px;
} 