@media (min-width: 1000px) {
  .Body{
    background-color: rgb(40, 40, 50);

  }

  .b_header{
    background-color: rgb(60, 60, 70);
    border-bottom: 2px solid rgb(0, 200, 255);
    padding: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .b_content{
    height: 915px;
    overflow-y: auto;
  }

  .b_h_filter{
    display: flex;
    flex-direction: row;
    padding-top: 10px;

    font-size: 20px;
  }

  .sessions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


select{
  font-size: 16px;
  border: 0;
  background-color: rgb(40, 40, 50);
}

option{
  font-size: 16px;
  border: 0;
  background-color: rgb(40, 40, 50);
}