.EsSesh{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var(--color-accent);
}

.es_header{
  background-color: var(--color-bg-secondary);
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.es_reps{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.es_rep{
  background-color: var(--color-accent);
  border-left: 1px solid var(--color-bg-primary);
  border-right: 1px solid var(--color-bg-primary);

  color: var(--color-bg-primary);
  font-weight: bold;
  font-size: 16px;

  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0;
}
