.Form{
  background-color: rgb(61, 61, 61);
}

.F_feildCont{
  background-color: rgb(92, 92, 92);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f_fc_Row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.f_exercise_cont{
  background-color: rgb(92, 92, 92);
  border-top: 2px solid rgb(187, 221, 255);
  border-bottom: 2px solid rgb(187, 221, 255);
  display: flex;
  flex-direction: column;
}

.f_exercise_group{
  font-size: 22px;
  font-weight: bold;
  margin-left: 6px;
}


.f_exercise_button{
  width: fit-content;
  font-size: 18px;
}