.Form{
  background-color: rgba(17, 55, 73, 0.548);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.F_feildCont{
  margin-top: 300px;
  background-color: rgb(92, 92, 92);
  padding-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f_fc_Row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.f_fc_Column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f_exercise_cont{
  background-color: rgb(92, 92, 92);
  border-top: 2px solid rgb(187, 221, 255);
  border-bottom: 2px solid rgb(187, 221, 255);
  display: flex;
  flex-direction: column;
}

.f_exercise_group{
  font-size: 22px;
  font-weight: bold;
  margin-left: 6px;
}

.f_exercise_button{
  width: fit-content;
  font-size: 18px;
}

