@media (min-width: 750px) {
  .Header{
    background-color: rgb(40, 40, 50);
    border-bottom: solid 3px rgb(0, 200, 255);;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 .h_hello{
    width: fit-content;
    font-size: 25px;
    padding-right: 10px;
    flex-shrink: 0;
  } 
  .h_buttons{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .Header{
    background-color: rgb(40, 40, 50);
    border-bottom: solid 3px rgb(0, 200, 255);;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .h_hello{
    width: fit-content;
    font-size: 20px;
    padding-right: 10px;
    flex-shrink: 0;
  } 
  .h_buttons{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
