.Grid_container{
  overflow-x: auto;
  overflow-y: auto;
  min-height: 80%;
}


.G_row{
  display: flex;
  flex-direction: row;
}

.G_cell{
  border: 1px solid rgb(200, 200, 255); 
  padding: 1px;
  width: 160px;
}
