.Grid_container{
  overflow-x: auto;
}

.G_row{
  display: flex;
  flex-direction: row;
  width: 100%;  
}

.G_cell_big{
  border: 1px solid rgb(200, 200, 255);
  padding: 1px;
  width: 200px;
  flex-shrink: 0;  
  text-align: center;
}

.G_cell{
  border: 1px solid rgb(200, 200, 255);
  padding: 1px;
  width: 120px;
  flex-shrink: 0;  
  text-align: center;
}

.G_cell_small{
  border: 1px solid rgb(200, 200, 255);
  padding: 1px;
  width: 80px;
  flex-shrink: 0;  
  text-align: center;
}