@media (min-width: 750px) {
  .Session{
    border: solid 2px rgb(0, 200, 255);
    width: 300px;
    max-width: 400px;
    flex-grow: 4;
  }
  .seshEx_container{
    max-height: 500px;
    overflow-y: auto;
  }

  .s_header{
    background-color: rgb(60, 60, 70);
    border-bottom: solid 2px rgb(0, 200, 255);
    font-size: 25px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
  }

  .s_header_form{
    display: flex;
    flex-direction: column;
  }

  .s_header_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* .s_header_buttons{
    display: flex;
    justify-content: center;
  } */

input[type=text] {
    background-color: rgb(40, 40, 50);
    border: 0;

    color: rgb(240, 240, 250);
    font-size: 18px;
  }

  input[type=date] {
    background-color: rgb(40, 40, 50);
    border: 0;

    color: rgb(240, 240, 250);
    font-size: 18px;
  }

  input[type=number] {
    background-color: rgb(40, 40, 50);
    border: 0;
    width:50px;
    color: rgb(240, 240, 250);
    font-size: 18px;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide_button{
    display: none;
  }

  .filter_button{
    width: 150px;
    margin: 0;
    padding: 0;
  } 
}

@media (max-width: 750px) {
  .Session{
    border: solid 1px rgb(0, 200, 255);
    /* border-bottom: solid 1px rgb(0, 200, 255); */
    margin: 10px;
  }

  .seshEx_container{
    max-height: 400px;
    overflow-y: auto;  
  }

  .s_header{
    background-color: rgb(60, 60, 70);
    border-bottom: solid 1px rgb(0, 200, 255);
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
  }

  .s_header_form{
    display: flex;
    flex-direction: column;
  }

 .s_header_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* .s_header_buttons{
    display: flex;
    justify-content: center;
  } */

  input[type=text] {
    background-color: rgb(40, 40, 50);
    width: 200px;
    border: 0;

    color: rgb(240, 240, 250);
    font-size: 18px;
  }

  input[type=date] {
    background-color: rgb(40, 40, 50);
    border: 0;

    color: rgb(240, 240, 250);
    font-size: 18px;
  }

  input[type=number] {
    background-color: rgb(40, 40, 50);
    border: 0;
    width: 50px;
    color: rgb(240, 240, 250);
    font-size: 18px;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide_button{
    border-top: solid 1px rgb(40, 40, 50);
    border-bottom: solid 3px rgb(40, 40, 50);
    background-color: rgb(60, 60, 70);
    color: white;
    font-weight: bold;
    width: 100%;
    margin: 0;
  }

  .filter_button{
    width: 70px;
    height: 60px;
    margin: 0;
    padding: 0;
  }  
}

